.corpo{
    margin-right: 400px;
    margin-bottom: 10px;
    margin-left: 400px;
}
.title {
    background-color: lightgray;
}
.cabecalho {
    border-width: 1px;
    border-color: black;
    border: solid;
    background-color: lightgray;
    text-align: center;
    margin: auto;
}
.font {
    font-style: italic;
    font-size: x-large;
}
.sublinado {
    background-color: #01DF01;
}
